.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.Home {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-form {
  /*min-height: 10vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
}

.search-bar {
  border: none;
  font-size: 20px;
  padding: 10px;
  flex-grow: 5;
}

.search-button {
  background: lightcoral;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  flex-grow: 1;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*margin: 0px;/*
  padding: 10vh 0vh 10vh 0vh;
  font-size: 450%;*/
}

.burger {
  /*height: 300px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20vh;
  height: auto;
}

.title {
  display: flex;
  font-size: 380%;
  justify-content: center;
  margin: 10px;
  color: lightcoral;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: lightcoral;
  color: white;
}

.nav-Links {
  list-style: none;
}

.line {
  height: 5hv;
  background: lightcoral;
}
